@model eShop.Database.ProductCategory

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2 class="display-4">Update Product</h2>
<form method="post" class="m-2 p-3 bg-light">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="@Model.CategoryId"/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.CategoryName">Product Name</label>
        <input class="form-control" asp-for="@Model.CategoryName"/>
        @* <span asp-validation-for="@Model.ProductName" class="text-danger"></span>   *@
    </div>
    <div class="form-group">
        <input class="btn btn-danger" type="submit" title="Update"/>
    </div>
</form>