 


<h1 class="h3 mb-2 text-gray-800">Products</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a type="button" class="btn btn-primary" href="@Url.Action("CreateProduct","Admin")">Add Product</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="productTable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ProductId</th>
                    <th>ProductName</th>
                    <th>ProductPrice</th>
                    <th>ProductWeight</th>
                    <th>ProductCartDesc</th>
                    <th>ProductShortDesc</th>
                    <th>ProductLongDesc</th>
                    <th>ProductThumb</th>
                    <th>ProductImage</th>
                    <th>ProductCategoryId</th>
                    <th>ProductUpdateDate</th>
                    <th>ProductStock</th>
                    <th>ProductLive</th>
                    <th>ProductUnlimited</th>
                    <th>ProductLocation</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>#</th>
                    <th>ProductId</th>
                    <th>ProductName</th>
                    <th>ProductPrice</th>
                    <th>ProductWeight</th>
                    <th>ProductCartDesc</th>
                    <th>ProductShortDesc</th>
                    <th>ProductLongDesc</th>
                    <th>ProductThumb</th>
                    <th>ProductImage</th>
                    <th>ProductCategoryId</th>
                    <th>ProductUpdateDate</th>
                    <th>ProductStock</th>
                    <th>ProductLive</th>
                    <th>ProductUnlimited</th>
                    <th>ProductLocation</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
@section scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
    function editProduct(id) {
      console.log(id);
      window.location.href = "/Admin/Admin/UpdateProduct?id="+id;
    }
    function removeProduct(id) {
          console.log(id);
          window.location.href = "/Admin/Admin/DeleteProduct?id="+id;
        }
    </script>
    <script>
    $(document).ready(function () {
        $('#productTable').DataTable({
            "ajax":{
            "type": "POST",
            "url": "/Admin/Admin/GetProduct/",
            "datatype": "json",
            },
            "columns": [
                {"data": "productButton", "name":"productButton"},
                {"data": "productId", "name":"productId"},
                {"data": "productName", "name":"productName"},
                {"data": "productPrice", "name":"productPrice"},
                {"data": "productWeight", "name":"productWeight"},
                {"data": "productCartDesc", "name":"productCartDesc"},
                {"data": "productShortDesc", "name":"productShortDesc"},
                {"data": "productLongDesc", "name":"productLongDesc"},
                {"data": "productThumb", "name":"productThumb"},
                {"data": "productImage", "name":"productImage"},
                {"data": "productCategoryId", "name":"productCategoryId"},
                {"data": "productUpdateDate", "name":"productUpdateDate"},
                {"data": "productStock", "name":"productStock"},
                {"data": "productLive", "name":"productLive"},
                {"data": "productUnlimited", "name":"productUnlimited"},
                {"data": "productLocation", "name":"productLocation"},
            ],
            "serverSide": "true",
            "order": [0,"asc"],
            "processing":"true",
            "language":{
            "processing":"processing ... please wait"    
            },
            "pageLength":5,
        });
    });
        </script>
}
